body {
  background:#333;
  background: #4a3e52;
  /*
  background: -webkit-linear-gradient(#608fd2, #2969c7); 
  background: -o-linear-gradient(#608fd2, #2969c7);
  background: -moz-linear-gradient(#608fd2, #2969c7);
  background: linear-gradient(#608fd2, #2969c7);
  */
  font-family: 'Source Sans Pro', sans-serif;
  line-height:1.4em;
  font-weight:200;
  font-size:18px;
  color:#eee;
  margin: 0;
}

/* Global 
-------------------*/
h1,h2,h3,h4 {
  font-weight:200;
  line-height:1em;
  margin:.2em 0;
  text-shadow:0 4px 8px rgba(0,0,0,.15);
}
.center {
	text-align:center;	
}
hr {
  border:none;
  border-bottom:1px solid rgba(255,255,255,.1);
  margin:40px 0;
}
ul {
  margin:0;
  padding:0;
}
li {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  color:#eee;
  text-decoration:none;
  cursor:pointer;
}
.clr {
	clear:both;	
}
.left {
	float:left;	
}
.right {
	float:right;	
}

/* Main Header 
-------------------*/
#main {
	background:rgba(0,0,0,.4);
	height:80px;
	overflow:hidden;
}
#main #logo {
	display:block;
	width:200px;
	float:left;
	height:35px;
	background:url(../images/logo.png) no-repeat;
	background-size:200px;
	margin:22px;
}
#main nav {
	float:right;
	display:block;
	margin:0 20px;
	padding:0;	
}
#main nav a {
	display:inline-block;
	line-height:80px;
	padding:0 10px;
	font-size:16px;
}
/* Admin Header 
-------------------*/
#admin {
	background:rgba(255,255,255,.05);
	height:60px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08) ;
		height:60px;
	background:#fafafa;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
	background-image:-webkit-linear-gradient(top, #fff, #eee); 
	background-image:-moz-linear-gradient(top, #fff, #eee);
	background-image:-ms-linear-gradient(top, #fff, #eee);
	background-image:-o-linear-gradient(top, #fff, #eee);

}
#admin nav {
	float:right;
}
#admin nav a {
	line-height:60px;
	padding:0 18px;
	font-size:16px;	
	color:#555;
	float:left;
}
#admin nav a:last-child {
	padding-right:24px;	
}
#admin nav a .icon {
	margin:12px 5px 0 0;
	float:left;
	opacity:.8;
}
#admin nav a:hover {
	background:rgba(0,0,0,.05);	
}
#admin nav a.cur {
	background:rgba(0,0,0,.1);	
}
#admin nav a:hover .icon,
#admin nav a.cur .icon
 {
	opacity:1;
}


/* Icons
-------------------*/
.icon {
	display:inline-block;
	height:35px;
	width:35px;
	background:url(../images/icons.png);
}
.icon.small {
	height:18px;
	width:18px;	
}
.icon.cogwheel 	{background-position:0 0;}
.icon.calendar 	{background-position:0 -35px;}
.icon.group 	{background-position:0 -70px;}
.icon.clock 	{background-position:0 -105px;}
.icon.clock.white 	{background-position:-35px -105px;}

.icon.circle {
	display:inline-block;
	display:none;
	margin:0 auto;
	padding:4px;
	border-radius:100px;
	background:#fff;	
}
/* Btn 
-------------------*/
.btn {
  display:inline-block;
  padding:1em 2em;
  color:#fff;
  background:#888;
  font-size:16px;
  background: -webkit-linear-gradient(#f48766, #f76666); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f48766, #f76666); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f48766, #f76666); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f48766, #f76666); /* Standard syntax */
  border-radius:4px;
  text-shadow:0px 2px 2px rgba(0,0,0,.1);
	  border:none;
	  font-family: 'Source Sans Pro', sans-serif;
	  font-weight:200;
}
.btn.large {
	font-size:24px;
		
}

.btn-b {
	font-size:14px;	
	background:rgba(255,255,255,.04);
	border:1px solid rgba(255,255,255,.1);
	border-radius:4px;
	display:inline-block;
	padding:4px 8px;
	color:rgba(255,255,255,.5);
}


/* Layout
-------------------*/
.container {
  padding-bottom:100px;
}
.content {
  
}

.inner {
  padding:10vh 4vw;
}

.title-block {	
	text-align:center;
	margin:80px 0;
}
.title-block h1 {
	font-size:80px
}
.title-block h2 {
	color:rgba(255,255,255,.6);
	font-size:36px
}
.title-block .btn {
	margin:20px 0;
}
/* Forms 
-------------------*/
form {
  width:340px;
  text-align:left;
  margin:0 auto 30px;
}
label {
  margin:0;
  display:block;
  font-size:1em;
  padding:4px 0 0px 0;
}
label span {
	float:right;
	color:rgba(255,255,255,.4);
	font-size:.75em;	
}
.nice input, .nice textarea {
  font-weight: 200;
  text-indent: 1em;
  border: none;
  line-height: 3em;
  width: 100%;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.36);
  color: #fff;
  border: none;
  margin: 0 0 0px;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}
.nice textarea {
	text-indent:0;
	line-height:1.2em;
	font-size:.8em;
	min-height:200px;
	resize:vertical;
}
form .btn {
	margin:30px auto;
	display:block;	
	font-size:18px;
}
form .btn-b {
	margin:10px 0;	
}
form .cancel, .cancel {
	font-size:14px;
	display:block;	
	color:rgba(255,255,255,.4);
	text-align:center;	
}



/* Text
-------------------*/
.redtext {
	color:red;
	font-size:11px;	
}



/* Home Banner
-------------------*/
.home {
	text-align:center;
	padding-top:30vh;
	text-transform:uppercase;
	letter-spacing:2px;
	color:rgba(255,255,255,.2);
	text-shadow:0 0 10px rgba(0,0,0,.25);	
	font-size:40px;
}
.banner {
  min-height:100%;
}
.banner.dark {
  background:rgba(0,0,0,.25);
}
.banner.light {
  background:rgba(255,255,255,.25);
}
.banner #logo {
  position:absolute;
  width:100%;
  top:50%;
  margin:-16vh 0 0;
  line-height:1.3em;
  color:rgba(255,255,255,.75);
  text-transform:uppercase;
  letter-spacing:5px;
  font-size:12px;
}  
@media (max-width: 500px){
	.banner #logo {
  		font-size:9px;
	}
}
.banner a.logo {
  display:inline-block;
}
.banner a.logo img {
  max-width:80vw;
  width:500px;
  padding:2em 0;
}
.banner #logo h1 {
  margin:.2em 0; 
}
.banner #logo h3 {
  border:1px solid rgba(255,255,255,.1);
  border-radius:3em;
  display:inline-block;
  padding:1em 2em;
  font-size:1.5em;
}

/* Events Page
-------------------*/
.event-list {
	max-width:600px;
	margin:0px auto;
}
.event-preview {
	border-bottom:1px dashed rgba(255,255,255,.2);	
	padding:20px 0;
	font-size:24px;
}
.event-preview small {
	font-size:12px;
	color:rgba(255,255,255,.4);	
}

/* Event Wrapper
-------------------*/
.event-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 5%;
    background: rgba(0,0,0,.5);
    margin: 5% auto;
    border-radius: 4px;
}
.event-wrapper .title {
	margin-bottom:20px;
	border-bottom:10px solid rgba(255,255,255,.1);	
	float:left;
	line-height:1.4em;
	padding:0 0 20px;
}
.event-wrapper h1 {
	font-size:60px;
	font-weight:400;
	margin:0;
	line-height:1em;
}
.event-wrapper .title p {
	font-size:40px;
	font-weight:200;
	line-height:1.2em;
	margin:0;
}
.event-wrapper .title p.date {
	color:#f48565;
	font-size:26px;
}
.event-wrapper .description {
	color:#888;
	clear:both;
}

/* Event Time Wrapper 
---------------------------*/
.time-wrapper {
	border:2px solid rgba(255,255,255,.25);
	border-radius:4px;	
	background: #34243e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #00000000, #34243e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #00000000, #34243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background:rgba(0,0,0,.1);
	margin:30px 0;
}
.time-title {
	margin:0;
	padding:20px;	
	background:rgba(255,255,255,.05);
}
.time-title time {
	font-size:40px;
	font-weight:400;	
}
.time-title p {
	margin:10px 0 0;
	color:#888;	
	font-size:22px;
}
.success {
	padding:20px;
	background:rgba(0,0,0,.3);	
	text-align:center;
}
.success h2 {
	font-size:30px;
	color:#aaa;
	margin:0;
}
.success p {
	font-size:16px;
	margin:0;
	color:#555;	
}
.exit {
	color:rgba(255,255,255,.4);	
	float:right;
}

/* Event Time Wrapper 
---------------------------*/
.attendee-list {
	margin:0;
	padding:30px;	
}
.attendee-list li {
	font-size:20px;	
	line-height:1.4em;
}

/* Registration Wrapper
---------------------------*/
.registration {
	padding:30px;
	text-align:center;	
}
.registration p {
	color:#888;
	margin:0;	
}
.registration h3 {
	margin:0 0 20px;	
}

/*
.event-wrapper h2 {
	font-size:18px;
	color:rgba(255,255,255,.5);
	margin-bottom:20px;
}
.event-wrapper time {
	text-transform:lowercase;
	font-size:40px;
}

.event-wrapper .btn {
	margin:10px 0 0;
}*/



/* Footer  (ride bottom)
------------------------------*/
html, body {height:100%;}
#wrapper {height:auto;min-height:100%;}
#inner-wrapper {padding:0 0 72px;}
footer {
	position:relative;
	margin-top:-72px;
	margin-top:0;
	height:72px;
	line-height:1.5em;
	font-size:14px;
	background:rgba(0,0,0,.1);
	text-align:center;
}
footer nav {
	padding:26px 0 0;	
}
footer nav a {
	color:rgba(255,255,255,.7);
	display:inline-block;
	padding:0 6px 0;
}